.form-input {
    width: 70%;
    height: 50px;
    padding: 5px 10px;
    border-radius: 1rem;
    border: 1px solid gray;
}

.submit-btn {
    background-color: #7c9af2;
    color: black;
    padding: 10px 50px;
    border: none;
    border-radius: 10rem;
    width: 70%;
    height: 50px;
}

